.book {
  padding: 50px 0 45px 0;
  background-image: url("../img/content/booking-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: cover;
  background-color: $color-columbia-blue;

  @include retina {
    background-image: url("../img/content/booking-bg@2x.jpg");
  }

  @include vp-1365 {
    background-position: 70% 10%;
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 57px 0 70px 0;
  }
}

.book__wrapper {
  display: grid;
  grid-template-columns: 564px 1fr;
  align-items: center;
  gap: 70px;
  padding: 0 63px;
  margin: 0 auto;

  @include vp-1365 {
    grid-template-columns: 1fr;
    gap: 51px;
    justify-items: center;
  }

  @include vp-767 {
    gap: 33px;
    padding: 0;
  }
}

.book__text-wrapper h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 30px 0;

  @include vp-1365 {
    font-size: 34px;
    text-align: center;
    margin: 0 0 25px 0;
  }

  @include vp-767 {
    max-width: 194px;
    font-size: 24px;
    line-height: 130%;
    margin: 0 auto 13px auto;
  }
}

.book__text-wrapper p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;

  &:not(:last-child) {
    margin: 0 0 20px 0;
  }

  @include vp-1365 {
    text-align: center;
  }

  @include vp-767 {
    max-width: 248px;
    font-size: 16px;
    line-height: 140%;

    &:not(:last-child) {
      margin: 0 auto 20px auto;
    }
  }
}
