.description {
  padding: 120px 0 119px 0;

  @include vp-1023 {
    padding: 96px 0 92px 0;
  }

  @include vp-767 {
    padding: 59px 0 64px 0;
  }
}

.description__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1023 {
    align-items: flex-start;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 32px;
    justify-items: center;
  }
}

.description__text-wrapper {
  margin-top: 67px;

  @include vp-1023 {
    margin-top: 0;
  }
}

.description__image-wrapper img {
  width: 100%;
  max-height: 301px;
  object-fit: cover;

  @include vp-1023 {
    min-height: 264px;
  }

  @include vp-767 {
    min-height: 186px;
  }
}

.description__image-wrapper {
  &--penguins {
    overflow: hidden;
    position: relative;
    min-height: 301px;
  }

  &--penguins img {
    position: absolute;
    left: -98px;
    top: -35px;
    object-fit: unset;
    max-width: 147%;
    width: 121%;
    height: auto;
    max-height: none;
  }

  @include vp-1023 {
    &--penguins {
      min-height: 264px;
    }

    &--penguins img {
        left: -63px;
        top: 1px;
        width: 139%;
    }
  }

  @include vp-767 {
    &--penguins {
      width: 100%;
      min-height: 186px;
    }

    &--penguins img {
      left: -22px;
      top: -3px;
      width: 116%;
    }
  }
}

.description__text-wrapper h2 {
  font-weight: 600;
  font-size: 28px;
  margin: 0 0 31px 0;
  letter-spacing: 1.5px;

  @include vp-1023 {
    max-width: 206px;
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 10px 0;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 14px;
  }
}

.description__text-wrapper p {
  max-width: 511px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.18px;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
