.features {
  padding: 120px 0;
  background-image: url("../img/content/features-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-solitude;

  @include retina {
    background-image: url("../img/content/features-bg@2x.jpg");
  }

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.features h2 {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 60px 0;

  @include vp-1365 {
    font-size: 26px;
    margin-bottom: 53px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    letter-spacing: 0;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 40px;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 28px;
  }
}
