.header {
  padding: 35px 0;
  background-color: $color-navy-blue;
  position: relative;

  @include vp-1365 {
    padding: 30px 0;
  }

  @include vp-767 {
    padding: 20px 0;
    min-height: 62px;

    &--no-js .header__toggle,
    &--no-js .nav__modal-toggle,
    &--no-js .header__logo {
      display: none;
    }

    &--no-js {
      padding: 0;
    }

    &--no-js .header__nav {
      position: relative;
      width: 100%;
    }

    &--nav-open .heade__nav {
      display: block;
    }

    &--nav-open .header__logo,
    &--nav-open .header__toggle {
      display: none;
    }

    &--nav-close .header__nav {
      display: none;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 3;
}

.header__toggle {
  display: none;
  z-index: 3;

  @include vp-767 {
    display: block;
    width: 24px;
    height: 15px;
    border: none;
    background-color: transparent;
    background-image: url("../img/svg/open-menu.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
  }
}

.header__nav {
  z-index: 3;

  @include vp-767 {
    min-width: 285px;
    height: 100vh;
    padding: 20px 15px 20px 25px;
    background-color: $color-alice-blue;
    position: absolute;
    right: 0;
    top: 0;
  }
}
