.tour-card {
  position: relative;
  width: 100%;
  min-height: 386px;

  &:hover .tour-card__hover-wrapper,
  &:focus .tour-card__hover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.tour-card__wrapper {
  position: relative;
}

.tour-card__wrapper h3 {
  position: absolute;
  left: 30px;
  bottom: 25px;
  margin: 0;
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;

  @include vp-767 {
    left: 26px;
    bottom: 15px;
  }
}

.tour-card__wrapper img {
  width: 100%;
  min-height: 386px;
  object-fit: cover;

  @include vp-1023 {
    min-height: 386px;
  }
}

.tour-card__hover-wrapper {
  position: absolute;
  top: 0;
  display: none;
  padding: 35px 25px;
  width: 100%;
  height: 100%;
  background-color: $color-tangaroa-blue;
}

.tour-card__hover-wrapper h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
}

.tour-card__hover-wrapper h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-alice-blue;
}

.tour-card__hover-wrapper p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-quartz-grey;
}
