.tour-card {
  position: relative;
  width: 100%;
  max-height: 386px;

  &:hover .tour-card__wrapper,
  &:focus .tour-card__wrapper,
  &:focus-within .tour-card__wrapper {
    display: none;
  }

  &:hover .tour-card__hover-wrapper,
  &:focus .tour-card__hover-wrapper,
  &:focus-within .tour-card__hover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.tour-card__wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $blue-to-bottom;
  }
}

.tour-card__wrapper h3 {
  position: absolute;
  left: 30px;
  bottom: 25px;
  margin: 0;
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  z-index: 1;

  @include vp-767 {
    left: 26px;
    bottom: 15px;
  }
}

.tour-card__wrapper img {
  width: 100%;
  min-height: 386px;
  object-fit: cover;

  @include vp-1023 {
    min-height: 386px;
  }
}

.tour-card__wrapper {
  &--hidden-overflow {
    width: 100%;
    min-height: 386px;
    overflow: hidden;
  }

  &--hidden-overflow img {
    position: absolute;
    object-fit: unset;
    min-height: 386px;
  }

  &--cruise-4 img {
    max-width: 216%;
    width: 216%;
    left: -120px;
  }

  &--cruise-5 img {
    max-width: 212%;
    width: 212%;
    left: -116px;
  }

  &--cruise-8 img {
    max-width: 273%;
    width: 266%;
    left: -177px;
  }

  @include vp-1023 {

    &--cruise-4 img {
      width: 214%;
      left: -130px;
      top: -26px;
    }

    &--cruise-5 img {
      width: 192%;
      left: -142px;
    }

    &--cruise-8 img {
      max-width: 280%;
      width: 256%;
      left: -202px;
      top: -36px;
    }
  }

  @include vp-767 {

    &--cruise-4 img {
      width: 225%;
      max-width: 230%;
      left: -127px;
      top: 0;
    }

    &--cruise-5 img {
      max-width: 220%;
      width: 220%;
      left: -145px;
    }

    &--cruise-8 img {
      left: -175px;
      top: 0;
    }
  }
}

.tour-card__hover-wrapper {
  top: 0;
  display: none;
  padding: 35px 25px;
  width: 100%;
  height: 100%;
  background-color: $color-tangaroa-blue;
  overflow: scroll;
}

.tour-card__hover-wrapper h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
}

.tour-card__hover-wrapper h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-alice-blue;
}

.tour-card__hover-wrapper p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-quartz-grey;
}
